#menu-container {
  position: fixed;
  padding: 0px;
  top: 4rem;
  z-index: 10;

  .section-menu {
    margin-right: auto;
    height: 100%;
    background-color: var(--light-background-color);
    border-top: 0px;
    box-shadow: 0 4px 8px var(--black);
  }

  .profile-menu {
    margin-left: auto;
    background-color: var(--light-background-color);
    box-shadow: 0 0px 8px var(--black);
  }
}
