#menu-container {
  position: fixed;
  padding: 0px;
  top: 4rem;
  z-index: 10;

  .section-menu {
    margin-right: auto;
    height: 100%;
    background-color: var(--light-background-purple);
    border: 2px solid var(--primary-color);
    border-top: 0px;
  }

  .profile-menu {
    margin-left: auto;
    height: 400px;
    background-color: var(--light-background-purple);
  }
}
