.profile-container {
  min-height: 100%;
  & > * {
    margin-top: 15px;
  }
}

.profile-info {
  & > div > img {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 30px;
  }
  & span.age-container {
    position: absolute;
    right: 30px;
    top: -10px;
  }

  & div.MuiFormControl-root {
    margin-top: 15px;

    & * {
      z-index: 1;
    }

    & fieldset {
      z-index: -1;
      background-color: var(--white);
      border: 1px solid var(--black);
    }
  }
}

.edit-profile,
.edit-password {
  & div.MuiFormControl-root {
    & * {
      z-index: 1;
    }

    & fieldset {
      z-index: -1;
      background-color: var(--white);
      border: 1px solid var(--black);
    }
  }
}

.tab-profile {
  & .btn-purple {
    width: 150px;
    height: 35px;
  }
}

.btn-purple-outline {
  background-color: var(--button-light-background);
  border: solid 2px var(--primary-color);
  color: black;
}

.icon {
  height: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}

.edit-avatar {
  position: absolute;
  top: 30%;
  width: 40px !important;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 10px;
}
