.profile-menu-container {
  background-color: var(--light-background-color);
  /* nwm czy to tak może być */
  margin-top: 5px;
  margin-bottom: 5px;

  & > ::-webkit-scrollbar {
    width: 5px;
  }

  & > ::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
  }

  & > ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }
}

.notification-container {
  max-height: 76%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification-container-child {
  max-height: 300px;
}

.notification {
  background-color: var(--light-background-purple);
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: auto;
  text-overflow: ellipsis;
  font-size: 14px;
}

.profile-buttons > button {
  margin-top: 8px;
  font-size: 13px;
  height: 30px;
}

.foreign-profile-menu {
  height: fit-content;
  padding-bottom: 10px;
}
