.register-container {
  background-color: var(--second-light-background-color);
  height: 25rem;
  width: 25rem;
  border-radius: 5px;
  box-shadow: 2px 2px 6px var(--black);

  .MuiInputBase-root {
    padding-right: 0px;
    height: 40px;
  }

  & span {
    margin-top: 15px;
    font-weight: 400;
    font-size: 35px;
  }

  & span.error-message {
    font-size: 15px;
    margin-top: 5px;
  }

  & div.MuiFormControl-root {
    margin-top: 15px;

    & * {
      z-index: 1;
    }

    & fieldset {
      z-index: -1;
      background-color: var(--white);
      border: 1px solid var(--black);
    }
  }

  & div.button-container {
    position: absolute;
    bottom: 10px;
    width: 90%;

    & div {
      height: 30px;
    }
  }

  .checkmark {
    height: 20px;
    visibility: hidden;
  }
}
